# Physics sidecar
ROBOREMOTE_PHYSICS_PORT=50052
ROBOREMOTE_PHYSICS_BIND_ADDR=0.0.0.0:${ROBOREMOTE_PHYSICS_PORT}

# Sim server
ROBOREMOTE_PHYSICS_ADDR=localhost:${ROBOREMOTE_PHYSICS_PORT}
ROBOREMOTE_SERVER_PORT=50051
ROBOREMOTE_SERVER_BIND_ADDR=0.0.0.0:${ROBOREMOTE_SERVER_PORT}

# TUI client
ROBOREMOTE_SERVER_ADDR=localhost:${ROBOREMOTE_SERVER_PORT}

# ASSETS
# provide a relative path to the robot model file
ROBOREMOTE_MODEL_PATH=models/so101/so101_new_calib.urdf
